<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am an engineer, maker, and entrepreneur in the Research Triangle of North Carolina! I got my master's degree in mechanical engineering 
        from the Rochester Institute of Technology with a focus on additive manufacturing and design optimization. The bulk of my career has been spent 
        in medical device R&D, designing innovative surgical tools for Teleflex Medical. I was the technical lead for several successful product development projects and have a few patents.</p>

        <p>I have also always had an interest in using my engineering and maker skills to pursue artistic projects and self expression. Currently I am in the process of designing and building a life-size version of the classic game of 
        Operation at an up-and-coming interactive art space in Durham called Future Hooman! In addition to my own exhibit, I provide engineering guidance to other artists creating electrical or mechanical exhibits, and I also coordinate
        our fire and electronics safety plans and procedures, including making sure everyone's electronics follow best safety practices.</p>
      </div>
      <div class="col-lg-4">
        <p>I've always been a maker and had many ideas so at an opportune moment at the end of 2024 I left the corporate R&D world to start my own small business, Sovereigness Designs, creating
        custom designs, devices, and decor. The vision for Sovereigness Designs is to be a sort of ultra-minimized highly customizable rapid product development partner to help make people's ideas a reality or provide tight solutions to
         niche customers who are underserved by industrial markets. Theres a wide problem space where the solution is simple and straight forward with any access to common industrial solutions but infeasible for a weekend project handyman.
        With new capabilities in 3D printing, the democratization of coding with AI, and the commodification of high power motors, batteries, and electronics, many one-off problems considered too small to support a commercial market are easily solved 
        by a single person or small team with the right experience and skillset - Sovereigness Designs aims to be that partner to address that problem space. You can see some of my work in the portfolio above.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/Jessica-Boyers" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Resume
        </a>
      </div>
    </div>
  </div>
</section>
