<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
      <p><strong>What I’m looking for:</strong> Mechanical Engineer II–Senior Engineer roles in product development / R&amp;D - ideally in medical 
          devices, but I’m open to all advanced tech industries, particularly ones that require regulatory acumen. My strength is in performing robust analysis and research 
          combined with rapid prototyping and testing in order to stay fast and nimble while maintaining rock-solid documentation within regulated environments. I'm comfortable with 
          all stages of the NPI cycle from concept through commercialization.</p>
      </div>
      <div class="col-lg-4 col-lg-offset-2">
        <p><strong>I’m a mechanical engineer, maker, and product developer based in North Carolina’s Research Triangle.</strong> I hold a Master's Degree in Mechanical 
          Engineering from Rochester Institute of Technology, with a focus on additive manufacturing and design optimization. Professionally, I’ve spent 
          the bulk of my career in medical device R&amp;D, most recently at Teleflex, developing innovative surgical tools from early concept 
          through verification and validation. I’ve served as technical lead on multiple product development programs and am a named inventor on several patents:</p>
        <p><strong>US20220354484A1</strong></p>
        <p><strong>US20230124563A1</strong></p>
        <p><strong>Additional Application Pending Issuance</strong></p>

        <p>Over the past year, I’ve been applying that same skillset in a hands-on consulting capacity at <strong>Future Hooman</strong>, an up-and-coming
          interactive art and exhibit space in Durham, NC. I’m currently engineering a life-size, playable version of the classic game <em>Operation</em> (See portfolio), and in addition to my own exhibit, I support 
          other creators with mechanical/electrical design guidance, build fabrication and troubleshooting, and practical safety review. I also help coordinate fire and 
          electronics safety procedures and review projects to keep them aligned with best practices.</p>
      </div>

      <div class="col-lg-4">
        <p>At the start of 2025, I took a deliberate detour from corporate R&amp;D to launch <strong>Sovereigness Designs</strong>, a small design and build studio 
          focused on custom designs, devices, fixtures, and functional decor. The vision is an ultra-minimized, highly customizable rapid product 
          development partner for niche problems that are too specialized or too small for industry and off-the-shelf products, but too complex for a typical weekend DIY solution.
          The intended customer is individuals with ideas who need help making them a reality or small businesses or organizations in need of technical solutions to support their product or achieve their vision - not industry or consumer markets, so I don't compete with big tech firms.
          With new capabilities in 3D printing, accessible software development with AI, and commodification of modern electronics, many one-off challenges can be solved quickly and elegantly by the 
          right engineer. Sovereigness Designs aims to be that partner, and is now operating steadily, so I’m excited to actively return to a full-time 
          engineering role in corporate product development, bringing with me lessons from entrepreneurship.</p>
        <p>Some examples of solutions and products developed and sold through Sovereigness Designs are showcased in the portfolio above.</p>
      </div>

      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="J_Boyers_RnD_Engineer_Resume.pdf" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Resume
        </a>
      </div>
    </div>
  </div>
</section>
