<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img src="img/profile.png" class="rounded-circle border border-3 border-light" width="200" alt="Profile photo">

        <!--img class="img-responsive" src="img/profile.png" alt="profile-pic" /-->
        <div class="intro-text">
          <span class="name">{{ site.title }}</span>
          <hr class="star-light" />
          <span class="skills">{{ site.skills }}</span>
        </div>
      </div>
    </div>
  </div>
</header>
